/* .chapter-number {
  display: none;
}

h1.title {
  font-size: 0;
}

h1.title .chapter-title {
  font-size: revert;
} */

.chapter-number {
  display: none;
}

.chapter-number + .chapter-title {
  margin-left: -1ch;
}
